<nav class="navbar navbar-header" style="background-color:lightgray">

  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

  </div>
    <div class="navbar navbar-collapse">
         <ul class="nav navbar-nav ">
           <li>
              <a href="#"(click)= "onSelect('recipes')">Recipes</a>&nbsp;&nbsp;
              <a href="#" (click)= "onSelect('shopping-list')">Shopping List</a>
           </li>
        
      </ul>

      <ul class="nav navbar navbar-right">
        <li class="dropdown" appDropdown #r='appDropdown'>
          <a href="#" class="dropdown-toggle"   role="button" >Manage</a>
          <ul class="dropdown-menu" [ngClass]= "{'show':r.isOpen}"  >
            <li>
              <a href="#"> Save date</a>
            </li>
            <li>
              <a href="#">Featch data</a>
            </li>
          </ul>
        </li>  

      </ul>

  </div>

  
</nav>

